<% comments.reverse.each do |comment| %>  
  <div class="comments_list">
    <%= render partial: "comments/comment", locals: {comment: comment} %>
  </div>
<% end %> 
									    
<!-- Reply to current comment ends-->

									    











      



       

