<article class="app-cont">

  <section class="app-title cf">
    <h1>UrbanTerms</h1>
    <%= link_to 'New Urban Term', new_urban_term_path %>
  </section>

  

</article>

<%= content_for :script do %>
  new app.Urban_termss;
<% end %>
