/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 *= require jquery-ui/datepicker
 *= require font-awesome
 *= require urban_terms
 *= require layout
 *= require chosen
 *= require trix
 *= require selectize
 *= require selectize.default
 *= require_self
 *= require_tree .

 */



 @import 'trix';
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'ionicons';
 /*main css */
 @import "main_css/style_m";
 @import "main_css/css2";
 @import "main_css/stylemmin";
  /*main css */
 @import "main_css/animatemmin";
 @import "main_css/animate_m";
 @import "main_css/style-responsivem";
 @import "main_css/style-resmm";
 @import "forum/animate";
 @import "forum/animate.min";
 @import "forum/style-responsive";
 @import "forum/style-responsive.min";
 @import "forum/style";
 @import "forum/style.min";
 /*-- ================== BEGIN BASE SIGN IN PAGECSS STYLE ================== --*/
 @import "main_plugins/jquery-ui/themes/base/minified/jquery-ui.min";
 @import "main_plugins/bootstrap/css/bootstrap.min";
 @import "main_plugins/font-awesome/css/font-awesome.min";
 @import "main_plugins/jquery-ui/themes/base/minified/jquery-ui.min.css";
 @import "main_css/theme/default";

 body {
    background-color: rgba(0, 0, 0, 0) linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%) !important; 
}

.custombgD9E0E7 {
	background: rgba(0, 0, 0, 0) linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%) !important; 
}

.fntwgt400{
  font-weight: 400;
}

.wht a:link{
    color:#FFFFFF;
}

.upcase {
    text-transform: uppercase;
}

.cap {
    text-transform: capitalize;
}

.wht a:visited {

	color:#FFFFFF;

}
.wht a:hover {

	color:#eeeeee;

}
.wht a:active {

	color:#FFFFFF;

}

.text-db {
	color: #125ACD;
}

.imgsmall {
	width: 40px;
	border-radius: 3px;
	margin-left: 2px 1px 0 0;

}

.txtblack {
	color: #000000;
}

.txtgrey {
	color: #e1e1e1;
}

.reducebtn10{
	margin-bottom: -10px;
}

.b10 {
	padding-bottom: 10px;
}

.pd10 {
	padding: 10px;
}

.blck{
	font-size: 14px !important;
	color: #000000;
}
.img30 {
	width: 30px;
    height: 30px;

}
.hr2
{ margin-top: 0px;
margin-bottom: 5px;
border: 0;
border-top: 1px solid #e1e1e1;

}

.panel-shadow {
    background-color: white;
    border-bottom: 5px solid #F5F7FA;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(1, 0, 0, 0);
    padding-bottom: 10px;
    }


